<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<!--  include 에는 head, body x -->

<!-- header -->
<div th:fragment="header">
	header 영역입니다.

	<!-- Bootstrap btn (*통일 중요)-->
	<a href="#" class="btn btn-primary btn-sm">로그인</a> <a href="#"
		class="btn btn-light btn-sm">로그아웃</a>

	<!-- 컨텐트 영역 -->
	<hr>
</div>

<!-- footer -->
<div th:fragment="footer">
	<!-- 컨텐트 영역 -->
	<hr>

	<!-- Bootstrap Icons -->
	<i class="bi bi-balloon-fill" style="color: blue;"></i> footer 영역입니다.
</div>
</html>